    .navbar {
        background-color: #BD0928;
    }
    
    a.nav-link {
        color: #FFF;
    }
    
    a:hover {
        color: hotpink;
    }
    
    a.navbar-brand {
        color: #FFF;
    }