.pizzas-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    // width: 20vw;
    padding: 10px;
    margin: 5px;
}

.btn-alterar {
    margin: 10px;
    margin-left: 10px;
    margin-right: 20px;
}